.notify-item {
    width: 350px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.notify-item a {
    display: flex;
    align-items: center;
    width: 100%;
}

.notify-item:not(:first-child) {
    border-top: 1px solid var(--gray-color);
}

.notify-item img {
    width: 20%;
    border-radius: 5px;
}

.notify-item .content {
    min-height: 40px;
    max-height: 80px;
    width: 80%;
    padding-left: 10px;
    overflow: auto;
}

.notify-item .content::-webkit-scrollbar {
    width: 0;
}

.notify-item .content .title {
    text-transform: uppercase;
    font-weight: 600;
}

.notify-item .content .description {
    margin-top: 5px;
}
