@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #00294b;
    --text-color: #333333;
    --text-color-2: #ebdac1;
    --text-color-3: #cccccc;
    --white-color: #ffffff;
    --gray-color: #bdbdbd;
    --filter-color: #4a98cb;
    --orange-color: #ffb300;
    --placeholder-color: #999999;
    --outline-input-color: #3b71ca;
    --transition: ease .5s;
    --check-correct: #31be2da4;
    --check-wrong: #d80000a4;
    --background-game-area-color: #ffffff;
    --background-game-color: #4a98cb;
    --background-game-color-2: #ebdac1;
    --background-game-color-3: #082c69;
    --text-game-color: azure;
    --text-game-color-2: #000000;
    --title-game-size: 4.5rem;
    --toggle-game-size: 4rem;
    --text-game-size: 3.5rem;
    --game-mode-size: 3rem;
    --control-game-size: 2.5rem;
    --normal-game-size: 2rem;
}

* {
    box-sizing: inherit;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

ul, ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

select, input {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--text-color);
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


// 

@media screen and (max-width: 1349px) {
    .container {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1199px) {
    .container {
        max-width: 900px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        max-width: 95%;
    }
}

